 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Chat</title>
 </head>
 <body>
    <div class="">
        <div class="bg-warning h-100 p-4 text-center">
            <div class="row">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Nombre">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Apellido">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Edad">
            </div>
            <div class="row  mt-4">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Alias">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Avatar">
                <input type="text" class="form-control mr-2 col infoMessage" placeholder="Email">
            </div>
            <div class="row">
                <input type="text" class=" form-control mt-4 p-4 infoMessage" placeholder="Mensaje">
            </div>
            <button class="btn btn-primary ml-2 mt-3 " id="sendMessage">Send</button>
            <div id="messagesChat"></div>
        </div> 
    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js" ></script>
 </body>
 </html>