<div class="col-md-5">
    <div class="bg-warning h-100 p-4"> 
        <form action="">
            <input type="text" class="form-control" placeholder="Mensaje" id="inputMessage">
            <input type="text" class="form-control" placeholder="Email" id="inputEmail">
            <button class="btn btn-primary" id="sendMessage">Send</button>
        </form>
        
        <div id="messagesChat"></div>
    </div> 
</div>  