div         
    form(class="col-md-7 offset-md-3 text-center mt-5 border border-primary p-5 bg-primary")
        h1 Ingreso de Productos
        input(type="text" name="name"  placeholder="Nombre" class="form-control mt-3 inputName")
        input(type="text" name="price"   placeholder="Precio" class="form-control mt-3 inputPrice")
        input(type="text" name="description" placeholder="Descripcion" class="form-control mt-3 inputDescription")
        button(type="submit" value="Ingresar" class="btn btn-dark mt-3 inputSubmit") Ingresar